/* Definições de base do Tailwind */
@tailwind base;

/* Componentes do Tailwind */
@tailwind components;

/* Utilitários do Tailwind */
@tailwind utilities;

/* Definições customizadas dentro de @layer base */
@layer base {
  :root {
    --b1: rgba(242, 184, 133, 1);
    --b2: rgba(217, 177, 163, 1);
    --b3: rgba(193, 127, 98, 1);
    --b4: rgba(115, 78, 64, 1);
    --b5: rgba(46, 30, 29, 1);

    --background: rgba(46, 30, 29, 1);
    --foreground: rgba(115, 78, 64, 1);

    --card-valor: rgba(115, 78, 64, 1);
    --card-valor-selecao: rgba(242, 184, 133, 1);

    --texto-1: rgba(46, 30, 29, 1);
    --texto-2: rgba(115, 78, 64, 1);
    --texto-3: rgba(217, 177, 163, 1);

    --vermelho: rgba(190, 10, 10, 1);
  }

  body {
    /* Aplicação das cores de background e foreground */
    background-color: var(--background);
    color: var(--foreground);
  }
}
